<!DOCTYPE html>
<head>
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script>

	</script>
	<title> LED Blink </title>
</head>
<body style="background-color: red; font-family: fantasy;">
	<h1 style="color:navy;"> Welcome to LED Blink State </h1>
	<div align="left" style="font-size:42px;">
	<br>
	<p> The LED is : {{LED}} </p>
	<br>
	<br>
	<p> Go to <a href="/"> / </a> to access the home page </p>
	</div>
</body>
</html>

