<!DOCTYPE html>
<head>
	<title> Home | LED App </title>
</head>
<body style="background-color: red; font-family: fantasy;">
	<h1 style="color:navy;"> Welcome to Hamada's LED Controller </h1>
	<div align="center" style="font-size:42px;">
	<p> Go to <a href="/blink">/blink </a> to make the LED blink and see the status </p>
	<br>
	<p> Go to <a href="/switch">/switch </a> to turn the LED ON or OFF </p>
	<br>
	<p> Go to <a href="/fade">/fade </a> to control the LED brightness </p>
	<br>
	</div>
</body>
</html>

